@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;500&display=swap');
$font: 'Poppins', sans-serif;
$btn-hover-color: rgba(203, 46, 35, 0.603);
$btn-comprar-color: rgba(35, 203, 71, 0.603);
$select-color: rgba(35, 108, 203, 0.603);
