@use './variables' as v;
@use 'mixins' as m;

// Colores
$bg-color: rgba(236, 236, 236, 0.856);

:root {
  // --color1: rgb(0, 231, 255);
  // --color2: rgb(255, 0, 231);
  --color1: rgba(113, 125, 255, 0.427);
  --color2: rgba(255, 153, 0, 0.648);
}

html {
  scroll-behavior: smooth;
}

// scroll animated
@keyframes scroll {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: v.$font;
}

body {
  background-color: $bg-color;
}

.main {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  &__opciones {
    height: 100vh;
    &__logo {
      display: flex;
      justify-content: center;

      font-size: 1rem;
      align-items: center;
      padding-top: 3rem;
      height: 15%;
      box-sizing: border-box;
      i {
        font-size: 1.5rem;
        margin-right: 0.5rem;
        color: v.$btn-hover-color;
      }
      &__titulo {
        margin-left: 1rem;
      }
    }
    &__principales {
      height: 65%;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      padding-top: 5rem;
    }
    &__secundarias {
      height: 10%;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
    }
  }
  &__mapa {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__estadisticas {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60vw;
    margin-left: 5rem;
    &__graficas {
      position: relative;
      overflow: hidden;
      margin: 20px;
      overflow: hidden;
      z-index: 10;
      touch-action: none;

      border-radius: 5% / 3.5%;
      box-shadow: -5px -5px 5px -5px var(--color1),
        5px 5px 5px -5px var(--color2), -7px -7px 10px -5px transparent,
        7px 7px 10px -5px transparent, 0 0 5px 0px rgba(255, 255, 255, 0),
        0 55px 35px -20px rgba(0, 0, 0, 0.5);

      transition: transform 0.5s ease, box-shadow 0.2s ease;
      will-change: transform, filter;

      background-color: #040712;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: 50% 50%;
      transform-origin: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 55%;
      width: 50%;
      background-color: white;
      margin: 1rem;
      border-radius: 1rem;
      box-shadow: 0 0 0.5rem 0.1rem rgba(0, 0, 0, 0.2);
      &:after,
      &:before {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
        background-repeat: no-repeat;
        opacity: 0.5;
        mix-blend-mode: color-dodge;
        transition: all 0.33s ease;
      }
      &:before {
        background-position: 50% 50%;
        background-size: 300% 300%;
        background-image: linear-gradient(
          115deg,
          transparent 0%,
          var(--color1) 25%,
          transparent 47%,
          transparent 53%,
          var(--color2) 75%,
          transparent 100%
        );
        opacity: 0.5;
        filter: brightness(0.5) contrast(1);
        z-index: 1;
      }
      &:after {
        opacity: 1;
        background-image: url('https://assets.codepen.io/13471/sparkles.gif'),
          url(https://assets.codepen.io/13471/holo.png),
          linear-gradient(
            125deg,
            #ff008450 15%,
            #fca40040 30%,
            #ffff0030 40%,
            #00ff8a20 60%,
            #00cfff40 70%,
            #cc4cfa50 85%
          );
        background-position: 50% 50%;
        background-size: 160%;
        background-blend-mode: overlay;
        z-index: 2;
        filter: brightness(1) contrast(1);
        transition: all 0.33s ease;
        mix-blend-mode: color-dodge;
        opacity: 0.75;
      }
      &.active:after,
      &:hover:after {
        filter: brightness(1) contrast(1);
        opacity: 1;
      }

      &.active,
      &:hover {
        animation: none;
        transition: box-shadow 0.1s ease-out;
        cursor: grab;
      }

      &.active:before,
      &:hover:before {
        animation: none;
        background-image: linear-gradient(
          110deg,
          transparent 25%,
          var(--color1) 38%,
          var(--color2) 32%,
          transparent 75%
        );
        background-position: 50% 50%;
        background-size: 250% 250%;
        opacity: 0.88;
        filter: brightness(0.66) contrast(1.33);
        transition: none;
      }

      &.active:before,
      &:hover:before,
      &.active:after,
      &:hover:after {
        animation: none;
        transition: none;
      }

      &.animated {
        transition: none;
        animation: holoCard 12s ease 0s 1;
        &:before {
          transition: none;
          animation: holoGradient 12s ease 0s 1;
        }
        &:after {
          transition: none;
          animation: holoSparkle 12s ease 0s 1;
        }
      }

      &:hover {
        box-shadow: -20px -20px 30px -25px var(--color1),
          20px 20px 30px -25px var(--color2), -7px -7px 10px -5px var(--color1),
          7px 7px 10px -5px var(--color2), 0 0 13px 4px rgba(255, 255, 255, 0.3),
          0 55px 35px -20px rgba(0, 0, 0, 0.5);
      }
      &__titulo {
        font-size: 1.5rem;
        font-weight: bolder;
        margin-bottom: 1rem;
      }
      &__grafica {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        .horario,
        .pelicula,
        .ciudad {
          display: flex;
          justify-content: center;
          align-items: center;
          text-align: center;
        }
      }
    }
  }
}

.opcion {
  @include m.opt;
}

.active {
  @include m.active;
}

// Zona de peliculas

.pelicula-principal {
  margin-top: 2rem;
  padding: 1rem;
  width: 100%;
  height: 45%;
  max-height: 30rem;
  img {
    border-radius: 3rem;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
  .texto {
    display: flex;
    flex-direction: column;
    position: relative;
    top: -40%;
    left: 3rem;
    color: white;
    .titulo {
      font-size: 3rem;
      font-weight: bolder;
    }
    .generos {
      position: relative;
      font-size: 1rem;
      color: white;
    }
  }
  transition: 0.3s ease-in;
  &:hover {
    cursor: pointer;
    transition: 0.1s ease-out;
    transform: scale(1.02);
  }
}

.mejores-actores,
.terror,
.drama {
  @include m.categoria;
}
::-webkit-scrollbar {
  width: 0.2rem; /* width of the entire scrollbar */
  height: 0.2rem;
  border-radius: 1rem;
}

::-webkit-scrollbar-track {
  background: rgb(94, 94, 94); /* color of the tracking area */
  border-radius: 1rem;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(44, 44, 44); /* color of the scroll thumb */
  border-radius: 20px; /* roundness of the scroll thumb */
  border: 3px solid rgb(20, 20, 20); /* creates padding around scroll thumb */
  border-radius: 1rem;
}

.pelicula-ver__info {
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .pelicula-ver__info__poster {
    display: flex;
    width: 50%;
    height: 15rem;
    img {
      border-radius: 1rem;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }
  .pelicula-ver__info__datos {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 50%;
    height: 15rem;
    .pelicula-ver__info__datos__titulo {
      font-size: 2rem;
      font-weight: bolder;
      margin-bottom: 1rem;
    }
    .pelicula-ver__info__datos__generos {
      font-size: 1rem;
      margin-bottom: 1rem;
    }
    .pelicula-ver__info__datos__descripcion {
      font-size: 1rem;
      margin-bottom: 1rem;
    }
  }
  .pelicula-ver__comprar {
    .pelicula-ver__comprar__btn {
      @include m.btn;
    }
  }
}

.modal-butaca {
  // Center in the screen
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  // Size
  width: 80vw;
  height: 80vh;
  // Background
  background-color: white;
  // Border
  border-radius: 1rem;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
  // Animation
  animation: scroll 0.2s ease-out;
  // Close button
  .close {
    position: absolute;
    top: 0rem;
    right: 1rem;
    font-size: 2rem;
    color: black;
    cursor: pointer;
  }
  display: none;
}

.visible {
  display: flex;
}

.espacio-butacas {
  width: 70%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
  padding: 3rem;
  .butaca {
    margin: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3rem;
    height: 3rem;
    // background-color: rgb(140, 221, 73);
    cursor: pointer;
    border-radius: 50%;
    transition: all 0.3s ease-in;
    img {
      max-width: 2.5rem;
    }
    &:hover {
      background-color: rgb(152, 221, 73);
      transition: all 0.2s ease-out;
    }
    &:active {
      transform: scale(0.9);
    }
  }
}

.seleccionada {
  background-color: rgb(221, 73, 93);
}

.pago-boletos {
  display: flex;
  flex-direction: column;
  margin-top: 3.5rem;
  margin-bottom: 3.5rem;
  justify-content: flex-start;
  align-items: flex-start;
  overflow-y: auto;

  &__boton {
    @include m.btn;
  }
}

.modal-factura {
  width: 20vw;
  height: 40vh;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  z-index: 2;
  border-radius: 1rem;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
  display: none;
}

.factura-visible {
  display: flex;
}

.select-movies {
  background-color: rgb(44, 44, 44);
  border-radius: 1rem;
  padding: 0.5rem;
  font-family: 'Poppins', sans-serif;
  color: white;
  option {
    text-transform: uppercase;
  }
}

// ! Animaciones Que no conozco xDDD
// !--------------------------------
@keyframes holoCard {
  0%,
  100% {
    transform: rotateZ(0deg) rotateX(0deg) rotateY(0deg);
  }
  5%,
  8% {
    transform: rotateZ(0deg) rotateX(6deg) rotateY(-20deg);
  }
  13%,
  16% {
    transform: rotateZ(0deg) rotateX(-9deg) rotateY(32deg);
  }
  35%,
  38% {
    transform: rotateZ(3deg) rotateX(12deg) rotateY(20deg);
  }
  55% {
    transform: rotateZ(-3deg) rotateX(-12deg) rotateY(-27deg);
  }
}

@keyframes holoSparkle {
  0%,
  100% {
    opacity: 0.75;
    background-position: 50% 50%;
    filter: brightness(1.2) contrast(1.25);
  }
  5%,
  8% {
    opacity: 1;
    background-position: 40% 40%;
    filter: brightness(0.8) contrast(1.2);
  }
  13%,
  16% {
    opacity: 0.5;
    background-position: 50% 50%;
    filter: brightness(1.2) contrast(0.8);
  }
  35%,
  38% {
    opacity: 1;
    background-position: 60% 60%;
    filter: brightness(1) contrast(1);
  }
  55% {
    opacity: 0.33;
    background-position: 45% 45%;
    filter: brightness(1.2) contrast(1.25);
  }
}

@keyframes holoGradient {
  0%,
  100% {
    opacity: 0.5;
    background-position: 50% 50%;
    filter: brightness(0.5) contrast(1);
  }
  5%,
  9% {
    background-position: 100% 100%;
    opacity: 1;
    filter: brightness(0.75) contrast(1.25);
  }
  13%,
  17% {
    background-position: 0% 0%;
    opacity: 0.88;
  }
  35%,
  39% {
    background-position: 100% 100%;
    opacity: 1;
    filter: brightness(0.5) contrast(1);
  }
  55% {
    background-position: 0% 0%;
    opacity: 1;
    filter: brightness(0.75) contrast(1.25);
  }
}

// !--------------------------------
