@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;500&display=swap");
html {
  scroll-behavior: smooth;
}

@keyframes scroll {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: rgba(236, 236, 236, 0.856);
}

.main {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
}
.main__opciones {
  height: 100vh;
}
.main__opciones__logo {
  display: flex;
  justify-content: center;
  font-size: 1rem;
  align-items: center;
  padding-top: 3rem;
  height: 15%;
  box-sizing: border-box;
}
.main__opciones__logo i {
  font-size: 1.5rem;
  margin-right: 0.5rem;
  color: rgba(203, 46, 35, 0.603);
}
.main__opciones__logo__titulo {
  margin-left: 1rem;
}
.main__opciones__principales {
  height: 65%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-top: 5rem;
}
.main__opciones__secundarias {
  height: 10%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.main__mapa {
  display: flex;
  justify-content: center;
  align-items: center;
}
.main__estadisticas {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 60vw;
  margin-left: 5rem;
  background-color: red;
}
.main__estadisticas__graficas {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 75%;
  width: 100%;
  background-color: aqua;
}
.main__estadisticas__graficas__titulo {
  font-size: 1.5rem;
  font-weight: bolder;
  margin-bottom: 1rem;
}
.main__estadisticas__graficas__grafica {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.opcion {
  padding: 1rem;
  border-radius: 1rem;
  cursor: pointer;
  transition: 0.2s ease-in;
  margin-left: 1rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}
.opcion:hover {
  background-color: rgba(203, 46, 35, 0.603);
  color: white;
  transition: 0.1s ease-out;
}

.active {
  border-right: 0.5rem solid rgba(203, 46, 35, 0.603);
  color: rgba(203, 46, 35, 0.603);
}

.pelicula-principal {
  margin-top: 2rem;
  padding: 1rem;
  width: 100%;
  height: 45%;
  max-height: 30rem;
  transition: 0.3s ease-in;
}
.pelicula-principal img {
  border-radius: 3rem;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.pelicula-principal .texto {
  display: flex;
  flex-direction: column;
  position: relative;
  top: -40%;
  left: 3rem;
  color: white;
}
.pelicula-principal .texto .titulo {
  font-size: 3rem;
  font-weight: bolder;
}
.pelicula-principal .texto .generos {
  position: relative;
  font-size: 1rem;
  color: white;
}
.pelicula-principal:hover {
  cursor: pointer;
  transition: 0.1s ease-out;
  transform: scale(1.02);
}

.mejores-actores__titulo,
.terror__titulo,
.drama__titulo {
  margin-left: 5rem;
  font-size: 1rem;
  font-weight: bolder;
  filter: opacity(0.5);
}
.mejores-actores__cartelera,
.terror__cartelera,
.drama__cartelera {
  margin-top: 1rem;
  display: flex;
  justify-content: flex-start;
  width: 60vw;
  height: 18rem;
  overflow-x: auto;
  overflow-y: hidden;
}
.mejores-actores__cartelera__card,
.terror__cartelera__card,
.drama__cartelera__card {
  width: 10rem !important;
  height: 15rem !important;
  min-width: 10rem;
  border-radius: 1rem;
  margin-left: 1rem;
  margin-right: 1rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.5);
  transition: 0.2s ease-in;
}
.mejores-actores__cartelera__card img,
.terror__cartelera__card img,
.drama__cartelera__card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 1rem;
}
.mejores-actores__cartelera__card .texto,
.terror__cartelera__card .texto,
.drama__cartelera__card .texto {
  display: none;
}
.mejores-actores__cartelera__card:hover,
.terror__cartelera__card:hover,
.drama__cartelera__card:hover {
  cursor: pointer;
  transition: 0.2s ease-out;
  transform: scale(1.1);
}
.mejores-actores__cartelera__card:hover img,
.terror__cartelera__card:hover img,
.drama__cartelera__card:hover img {
  filter: opacity(0.5);
  filter: grayscale(100%);
}
.mejores-actores__cartelera__card:hover .texto,
.terror__cartelera__card:hover .texto,
.drama__cartelera__card:hover .texto {
  position: absolute;
  z-index: 1;
  display: flex;
  font-size: 1rem;
  color: white;
  font-weight: bold;
  font-size: 1.5rem;
  background-color: black;
  width: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
}

::-webkit-scrollbar {
  width: 0.2rem; /* width of the entire scrollbar */
  height: 0.2rem;
  border-radius: 1rem;
}

::-webkit-scrollbar-track {
  background: rgb(94, 94, 94); /* color of the tracking area */
  border-radius: 1rem;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(44, 44, 44); /* color of the scroll thumb */
  border-radius: 20px; /* roundness of the scroll thumb */
  border: 3px solid rgb(20, 20, 20); /* creates padding around scroll thumb */
  border-radius: 1rem;
}

.pelicula-ver__info {
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.pelicula-ver__info .pelicula-ver__info__poster {
  display: flex;
  width: 50%;
  height: 15rem;
}
.pelicula-ver__info .pelicula-ver__info__poster img {
  border-radius: 1rem;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.pelicula-ver__info .pelicula-ver__info__datos {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 50%;
  height: 15rem;
}
.pelicula-ver__info .pelicula-ver__info__datos .pelicula-ver__info__datos__titulo {
  font-size: 2rem;
  font-weight: bolder;
  margin-bottom: 1rem;
}
.pelicula-ver__info .pelicula-ver__info__datos .pelicula-ver__info__datos__generos {
  font-size: 1rem;
  margin-bottom: 1rem;
}
.pelicula-ver__info .pelicula-ver__info__datos .pelicula-ver__info__datos__descripcion {
  font-size: 1rem;
  margin-bottom: 1rem;
}
.pelicula-ver__info .pelicula-ver__comprar .pelicula-ver__comprar__btn {
  padding: 0.5rem;
  border-radius: 1rem;
  cursor: pointer;
  background-color: rgba(35, 203, 71, 0.603);
  transition: 0.2s ease-in;
  margin-left: 1rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0;
}
.pelicula-ver__info .pelicula-ver__comprar .pelicula-ver__comprar__btn:hover {
  background-color: rgba(203, 46, 35, 0.603);
  color: white;
  transition: 0.1s ease-out;
}

.modal-butaca {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80vw;
  height: 80vh;
  background-color: white;
  border-radius: 1rem;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
  animation: scroll 0.2s ease-out;
  display: none;
}
.modal-butaca .close {
  position: absolute;
  top: 0rem;
  right: 1rem;
  font-size: 2rem;
  color: black;
  cursor: pointer;
}

.visible {
  display: flex;
}

.espacio-butacas {
  width: 70%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
  padding: 3rem;
}
.espacio-butacas .butaca {
  margin: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3rem;
  height: 3rem;
  cursor: pointer;
  border-radius: 50%;
  transition: all 0.3s ease-in;
}
.espacio-butacas .butaca img {
  max-width: 2.5rem;
}
.espacio-butacas .butaca:hover {
  background-color: rgb(152, 221, 73);
  transition: all 0.2s ease-out;
}
.espacio-butacas .butaca:active {
  transform: scale(0.9);
}

.seleccionada {
  background-color: rgb(221, 73, 93);
}

.pago-boletos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.pago-boletos__boton {
  padding: 0.5rem;
  border-radius: 1rem;
  cursor: pointer;
  background-color: rgba(35, 203, 71, 0.603);
  transition: 0.2s ease-in;
  margin-left: 1rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0;
}
.pago-boletos__boton:hover {
  background-color: rgba(203, 46, 35, 0.603);
  color: white;
  transition: 0.1s ease-out;
}

.modal-factura {
  width: 20vw;
  height: 40vh;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  z-index: 2;
  border-radius: 1rem;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
  display: none;
}

.factura-visible {
  display: flex;
}

.select-movies {
  background-color: rgb(44, 44, 44);
  border-radius: 1rem;
  padding: 0.5rem;
  font-family: "Poppins", sans-serif;
  color: white;
}
.select-movies option {
  text-transform: uppercase;
}

/*# sourceMappingURL=style.css.map */
